
  .courses {
    box-sizing: border-box;
    margin: 120px 0 0 0 !important;
    position: relative;
    padding: 0 !important;
    // background-color: $primary_color;
    z-index: 0;
    .container {
      .row-big {
        box-sizing: border-box;
        .form-course {
          margin-bottom: 30px !important;
          padding-left: 100px;
          .title {
            margin-bottom: 50px;
            text-align: center;
            h1 {
              @include text(
                40px,
                ("Montserrat", Arial, Helvetica, sans-serif),
                bold,
                $text_color
              );
            }
          }
          form {
            border-radius: 10px;
            width: 100% !important;
            background-color: #ffffff;
            box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1);
            padding: 30px 20px 30px 20px;

            // margin-bottom: 80px !important;
            .form-group {
              position: relative;

              .form-control {
                padding: 10px 0px 10px 40px;
                border-radius: 20px;
                font-size: 15px;
              }
              .fa-general {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                color: $primary_color;
              }
              .fa-angle {
                right: 15px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: $primary_color;
              }

              .custom-select {
                height: 40px !important;
                background: none;
              }
            }

            .form-group-message {
              .form-control {
                padding: 10px 0px 10px 40px;
                border-radius: 20px;
                font-size: 15px;
              }
              .fa {
                position: absolute;
                top: 20px;

                left: 15px;
              }
            }
            .row-small {
              .form-group {
                position: relative;
                .fa {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 30px;
                }
                .form-control {
                  // width: 150px !important;
                  height: 47px;
                }
              }
            }
            .btn-send {
              width: 38%;
              background-color: $primary_color;
              padding: 10px;
              text-align: center;
              border-radius: 30px;
              margin: 40px 0 !important;
              z-index: 2;
              position: relative;
              border: 1px solid $primary_color;
              .send {
                text-decoration: none;
                transition: all 0.5s;
                @include text(
                  16px,
                  ("Montserrat", Arial, Helvetica, sans-serif),
                  500,
                  #ffffff
                );
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0);
                border-radius: 30px;
                background-color: #ffffff;
                z-index: -1;
                transition: all 0.3s;
                width: 100%;
              }
              &:hover {
                .send {
                  color: $primary_color !important;
                }

                &::before {
                  transform: scale(1);
                }
              }
            }
          }
        }
        .img-course {
          padding-left: 40px;
          // padding-top: 25px;
          padding-right: 0 !important;
        }
      }
    }

    .img-background {
      position: absolute;
      bottom: -30px;
      z-index: -1;
    }

    @media (max-width: 991px) {
      .form-course {
        padding: 15px !important;
        form {
          width: 100%;
        }
      }
    }
  }
